<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./src/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <title>Морские котики</title>
    </head>
    <body>
        <header>
            <ul class="headerButtons">
                <li id="home">
                    <img src="./src/Imgs/home.png" alt="home page">
                </li>
                <li  id="desks">
                    <span>Доски</span>
                </li>
                <li id="logo">
                    <img src="./src/Imgs/logo.png" alt="logo">
                    <span>Морские котики</span>
                </li>
                <li id="info">
                    <img src="./src/Imgs/info.png" alt="info">
                </li>
            </ul>
        </header>
        <main>
            <div id="desk-nav">
                <div class="desk-title">Доступные доски</div>
                <div id="nav-desks">
                    <div class="desk-list" @click="openDesks(desk.id)" :id="'desk' + desk.id" v-for="desk in desks">{{ desk.name }}</div>
                </div>
            </div>
            <div id='current-desk'> 
                <!-- <div id="app"></div> -->
                <tasklist v-for="task in allTasks" :getting-tasks-list="task"></tasklist>
            </div>
        </main>
        <footer>
            <span id="obj-count"></span>
        </footer>
        <p class="information" style="display: none;">информация по проекту</p>
    
    <script src="/dist/build.js"></script>
  </body>
</html>