 .list-open{
    display: inline-block;
    cursor: pointer;
}
body{
   /* background-image: url('back.jpg');*/
   background-color: rgba(33, 53, 66);
   background-size: cover;
   color:rgb(62, 167, 189);

}
.table-layer-0{
    display: grid;
    width: 350px;
    min-height: 280px;
    margin: 10px auto 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
    background-color:rgb(62, 167, 189);
    font-family: sans-serif;
    color:rgb(7, 26, 24);
    border-radius:8px;
    font-family: monospace;

}

.table-layer-1{
    display:block;
    margin: 5px auto 0;
    padding: 10px 20px;
    transition: .5s;
    background-color: rgb(171, 214, 250);
    
    font-family: monospace;
    border-radius: 6px;
}
.table-layer-1:hover{
    transform: scale(1.04);
    background: rgb(13, 226, 226);
    color: rgb(7, 0, 41)0, 0, 0);
}



