<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <title>Морские котики</title>
</head>
<body>
    <header>
        <ul class="headerButtons">
            <li id="home">
                <img src="./Imgs/home.png" alt="home page">
            </li>
            <li  id="desks">
                <span>Доски</span>
            </li>
            <li id="logo">
                <img src="./Imgs/logo.png" alt="logo">
                <span>Морские котики</span>
            </li>
            <li id="info">
                <img src="./Imgs/info.png" alt="info">
            </li>
        </ul>
    </header>
    <main>
        <div id="desk-nav">
            <div class="desk-title">Доступные доски</div>
            <div id="nav-desks">
                <div class="desk-list" @click="openDesks(desk.id)" :id="'desk' + desk.id" v-for="desk in desks">{{ desk.name }}</div>
            </div>
        </div>
        <div id='main-list'> 
            <tasklist v-for="task in allTasks" :getting-tasks-list="task"></tasklist>
        </div>
    </main>
    <footer>
        <span id="obj-count"></span>
    </footer>
    <p class="information" style="display: none;">информация по проекту</p>

    <!-- components -->
    
    <template id="template-task-list">
        <div class="task-list">
            <div @click="loadTasks" class="task-list-title">{{ name }}</div>
            <div class="task-list-body">
                <task v-for="t in tasks" :getting-tasks="t"></task>
            </div>
            <div @click="addtask" class="task-list-footer">Добавить задачу</div>
        </div>
    </template>

    <template id="template-task">
        <div class="table-layer-2" :style="{border: borderStyle}">
            <div class="table-layer-2-head">
                <span class="list-open"> {{ name }} </span>
                <input :disabled="removed" type="checkbox" v-model="done" class="check">
                <img src="Imgs/edit.png" class="edit-btn" @click="activeEdit">
                <img src="Imgs/remove.png" class="del-btn" @click="remove">
            </div>
            <textarea :disabled="removed || !edit" v-model="description" class="description"></textarea>
        </div>
    </template>
    <!-- scripts -->
    <script src="./js/script.js"></script>
    <!-- <script src="./js/components.js"></script> -->
</body>
</html>
